/* updated 11/15/23 */
:root {
   --accent-color: rgba(128, 56, 176, 0.76);
   --accent-dark-color: #cadcf5;
   --font-color: #595959;
   --bg-color: rgba(202, 241, 242, 0.72);
}

body {
   background-color: #ecf6f0;
   font-family: Helvetica, sans-serif;
   color: var(--font-color);
   width: 80%;
 /*  margin: 0px auto; */
}

main {
   background-color: var(--bg-color);
   margin: 30px; 
  /* padding: 5px 14px; */
}

table {
   margin-left: 30px;
}
table  td {
   border-radius: 5px;
   border-style:solid ;
   border-color: grey;
   /*background: rgb(206, 235, 243);*/
   padding: 5px;
   margin: 5px;
}
th {
   color: var(--accent-color);
   background-color: rgb(209, 244, 242);
   font-size:larger;
   margin: 10px 10px;
   text-shadow: 1px 1px 1px gray; 
   border-style:solid ;
   border-color: grey;
   border-radius: 5px;
   padding: 10px;
}
tr:nth-child(even) {
   background: rgb(193, 218, 218);
}

td:hover {
   font-weight: 200;
   background-color: var(--accent-dark-color);   
   font-size: 110%;
   font-weight: bold;
} 
a:hover {
   font-weight: 200;
   background-color: var(--accent-dark-color);   
   font-size: 120%;
   font-weight: bold;

   padding: 10px;
   border-radius: 4px;
}

a:link {
   color: var(--font-color); 
}   

a:visited {
   color: var(--font-color);  
}   

a:hover {
   color: var(--accent-color); 
}  

a:active {
   color: var(--accent-color);
}   

header {
   border-radius: 10px;
   background-color: white;
   padding-left: 20px;
   margin: 10px;
}

h1 {
   color: var(--accent-color);
   font-size: 1 rem;
  /* margin: 10px 10px; */
   text-shadow: 2px 2px 3px gray; 
}
p { margin-left: 30px;}

 div {
   margin: 0 auto; 
   text-align:center;
} 

form {
   font-size: 110%;
   border: 3px double;
   border-radius: 10px;
   background-color:  lavender;
   width: 400px; 
   margin-left: 30px;
    margin: 0px auto; 
   padding: 20px;
}

input:focus {
   background-color: lightblue;
}

div fieldset {
   text-align: left;
}

input[type=button], input[type=reset] {
    float:none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 120%;
    text-shadow: 1px 1px 2px gray; 
    box-shadow: 2px 2px 2px gray;
}

.rate, .currency {
   text-align: right;
}

#error {
   color: red;
   font-weight: bold;
   font-style: italic;
}

#result {
   color: navy;
   font-weight: bold;
   font-style: normal;
}
