:root {
   --accent-color: rgba(128, 56, 176, 0.76);
   --accent-dark-color: #EF2B2F;
   --font-color: #595959;
   --bg-color: rgba(202, 241, 242, 0.72);
}

body {
   background-color: #e2e4da;
   font-family: Helvetica, sans-serif;
   color: var(--font-color);
}

main {
   background-color: var(--bg-color);
   margin: 30px; 
  /* padding: 5px 14px; */
}
div {
   border: solid 2px blue;
/* position: relative; */

   padding: 15px;
 /*  margin: 30px; */
   background-color: #c7c7f0;

}
form {
   width: 300px;
   margin: 0px auto;
}
table {
   margin-left: 30px;
}
table  td {
   border-radius: 5px;
   border-style:solid ;
   border-color: grey;
   background: rgb(178, 227, 241);
   padding: 5px;
   margin: 5px;
  /* display: flexbox; */
}
th {
   color: darkred;
   color: var(--accent-color);
   background-color: rgb(184, 242, 238);
   font-size:larger;
   margin: 10px 10px;
   text-shadow: 1px 1px 1px gray; 
   border-style:solid ;
   border-color: grey;
   border-radius: 5px;
   padding: 10px;
}

td:hover {
   font-weight: 300;
   background-color: var(--accent-dark-color);   
   font-size: 120%;
   font-weight: bold;
} 
a:hover {
   font-weight: 200;
   background-color: var(--accent-dark-color);   
   font-size: 120%;
   font-weight: bold;

   padding: 10px;
   border-radius: 4px;
}
#BackToMain {
   margin-top: 15px;
   margin-left: 30px;
   /*color: rgb(0, 140, 255);
   text-decoration: none; 
   font-family: sans-serif;*/
   
}

p {
   margin-left: 30px;


}

a:link {
   color: var(--font-color); 
}   

a:visited {
   color: var(--font-color);  
}   

a:hover {
   color: var(--accent-color); 
}  

a:active {
   color: var(--accent-color);
}   

header {
   border-radius: 10px;
   background-color: white;
   padding-left: 20px;
   margin: 10;
}

header h1 {
   color: var(--accent-color);
   font-size: 1 rem;
   margin: 10px 10px;
   text-shadow: 2px 2px 3px gray; 
}


