/* updated 11/15/23 */
:root {
   --accent-color: rgba(128, 56, 176, 0.76);
   --accent-dark-color: #cadcf5;
   --font-color: #595959;
   --bg-color: rgba(202, 241, 242, 0.72);
}

body {
   background-color: #ecf6f0;
   font-family: Helvetica, sans-serif;
   color: var(--font-color);
   width: 80%;
}

main {
   background-color: var(--bg-color);
   margin: 30px; 
}



header {
   border-radius: 10px;
   background-color: white;
   padding-left: 20px;
   margin: 10px;
}

h1 {
   color: var(--accent-color);
   font-size: 1 rem;
   text-shadow: 2px 2px 3px gray; 
}

p { margin-left: 30px;}

img { border: 1px solid;}

#error {
   color: red;
   font-weight: bold;
   font-style: italic;
}

#result {
   color: navy;
   font-weight: bold;
   font-style: normal;
}

.hidden {display: none;}
.error-msg {color: red;}
