/*
body, h1, h2, h3, p, img, ul, li{
    border:0; margin:0; padding:0;
}
    the above is a very basic reset rule.  Every browser has a slightly different default for HTML tags.  By using this simple CSS reset, all the more glaring styles 
    are reset and can now be set to whatever properties that would suit your website best. */

body{
    background:white;	/* a light blue background color. */
    font-family:Arial, Helvetica, sans-serif; /* the font family for all text on the web page is now either arial, helvetica or a sans-serif font if those two are not available */
    font-size:1rem; /* all normal text on the web page has a base font size of 14px now.  => Changed to 14px instead of 13px */
}

p{
    letter-spacing:.04rem; /* letter spacing sets the horizontal spacing (kerning) between letters in a block of text. */
    line-height:1rem; /* line height sets the vertical spacing between lines of text.  changed to 1.5rem instead of 21px*/
}


/* added this for mobile device */
@media screen and (max-width:600px) {
	body, header, main, article, nav, footer {
		width: 100%; 
		box-sizing: border-box ;
		padding: 0.1rem;
		margin: 0.5rem 0; 
	  }
	ul.navigation {
		list-style:none;	/* this removes the bullets from list elements */
		margin-top:20px;	/* giving the ul a top margin of 20px */
		line-height: 2rem;
		height: 2rem;
	}
	header{
		background-color:#dbebd3; /* a more specific way to set a background color */
		margin:0 auto; /* by declaring a width on any block element (like a div), giving it a css property of margin:0 auto will center that block element on page */
		text-align:center;
	}
	img {

		display: block;
	}
	footer {
		background-color:#c4d5d9;
		margin:0 auto;
		padding:15px;
		text-align:center;
		width:100wv;
		clear:both;
	}	

}


/* Structure for laptop & desktop */
@media screen and (min-width:601px) {
	header{
		background-color:#ebfbe3; /* a more specific way to set a background color */
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;	/* these 6 lines of border-radius code make rounded corners for the bottom work in firefox, safari, chrome, opera and IE9 */
		margin:0 auto; /* by declaring a width on any block element (like a div), giving it a css property of margin:0 auto will center that block element on page */
		min-height:130px;	/* setting a minimum height of an element means that it can grow to be bigger, if there is a lot of content in it. However, if it doesn't have enough content, it will be at the very least (in this example) 130 pixels tall */
		padding:5px 15px 5px;	/* by setting a padding, the content within a HTML element will not touch the edges of that element (by adding padding to an element, it actually makes that element appear wider and/or taller.  In this case, the header div is now 15px wider and taller on each side. */
		width:100wv;	/* sets the width of the div to 900px. Remember that if you add padding to this element it will increase the size by the number of pixels in the padding. In this example the width is 900px and we have 15px to the left and right so the total width of the header will be (870px + 15px+15px=930px */
	}