:root {
   --table-color: forestgreen;
   --row-bg-color: honeydew;
   font-family: Calibri, Myriad;
}
   
/* 
 An ID selector for the ID game-table should:

Use the border property to add a 2px solid border using the color from the CSS variable --table-color
Use the text-align property to center all text
Use a height of 200px and width of 400px

A descendant selector that targets the <caption> inside the <table> should:

Use the text-transform property to make the caption UPPERCASE
Set the background color using the CSS variable --table-color
Set the font color to white
Add 10px padding

A pseudo-class selector :nth-child(even) for <tr> should:

Set the background color using the CSS variable --row-bg-color.
*/
#game-table {
    border: 2px solid var(--table-color);
    text-align: center;
    height: 200px;
    width: 400px;
}
table caption {
    text-transform: uppercase;
    background-color: var(--table-color);
    color: white;
    padding: 10px;
}
 
tr:nth-child(even) {
    background-color: var(--row-bg-color);
}